In [86]:
import pandas as pd
dados = pd.read_csv("Material/website_wata.csv")
dados.head()

,Page Views,Session Duration,Bounce Rate,Traffic Source,Time on Page,Previous Visits,Conversion Rate
0,5,11.051381,0.230652,Organic,3.890460,3,1.0
1,4,3.429316,0.391001,Social,8.478174,0,1.0
2,4,1.621052,0.397986,Organic,9.636170,2,1.0
3,5,3.629279,0.180458,Organic,2.071925,3,1.0
4,5,4.235843,0.291541,Paid,1.960654,5,1.0

In [87]:
dados.describe()

,Page Views,Session Duration,Bounce Rate,Time on Page,Previous Visits,Conversion Rate
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,4.950500,3.022045,0.284767,4.027439,1.978500,0.982065
std,2.183903,3.104518,0.159781,2.887422,1.432852,0.065680
min,0.000000,0.003613,0.007868,0.068515,0.000000,0.343665
25%,3.000000,0.815828,0.161986,1.935037,1.000000,1.000000
50%,5.000000,1.993983,0.266375,3.315316,2.000000,1.000000
75%,6.000000,4.197569,0.388551,5.414627,3.000000,1.000000
max,14.000000,20.290516,0.844939,24.796182,9.000000,1.000000

In [88]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Page Views        2000 non-null   int64
 1   Session Duration  2000 non-null   float64
 2   Bounce Rate       2000 non-null   float64
 3   Traffic Source    2000 non-null   object
 4   Time on Page      2000 non-null   float64
 5   Previous Visits   2000 non-null   int64
 6   Conversion Rate   2000 non-null   float64
dtypes: float64(4), int64(2), object(1)
memory usage: 109.5+ KB

In [89]:
# Criando os minutos e segundos para Session Duration
dados["Minutos_Session"] = dados["Session Duration"].astype(int)
dados["Segundos_Session"] = ((dados["Session Duration"] - dados["Minutos_Session"]) * 60) / 100
dados["Tempo Float Session"] = dados["Minutos_Session"] + dados["Segundos_Session"]

# Criando os minutos e segundos para Time on Page
dados["Minutos_Time"] = dados["Time on Page"].astype(int)
dados["Segundos_Time"] = ((dados["Time on Page"] - dados["Minutos_Time"]) * 60) / 100
dados["Tempo Float Time"] = dados["Minutos_Time"] + dados["Segundos_Time"]

# Removendo colunas temporárias e originais
dados = dados.drop(columns=["Session Duration", "Time on Page", 
                            "Minutos_Session", "Segundos_Session", 
                            "Minutos_Time", "Segundos_Time"])

# Renomeando colunas finais
dados.rename(columns={'Tempo Float Session': 'Duração da sessão (minutos)',
                      'Tempo Float Time': 'Tempo na página (minutos)', 
                      'Page Views': 'Páginas visitadas',
                      'Bounce Rate': 'Taxa de rejeição', 
                      'Traffic Source': 'Origem do tráfego',
                      'Previous Visits': 'Visitas anteriores',
                      'Conversion Rate': 'Taxa de conversão'}, inplace=True)

dados.head()

,Páginas visitadas,Taxa de rejeição,Origem do tráfego,Visitas anteriores,Taxa de conversão,Duração da sessão (minutos),Tempo na página (minutos)
0,5,0.230652,Organic,3,1.0,11.030829,3.534276
1,4,0.391001,Social,0,1.0,3.257589,8.286905
2,4,0.397986,Organic,2,1.0,1.372631,9.381702
3,5,0.180458,Organic,3,1.0,3.377567,2.043155
4,5,0.291541,Paid,5,1.0,4.141506,1.576392

In [90]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Páginas visitadas            2000 non-null   int64
 1   Taxa de rejeição             2000 non-null   float64
 2   Origem do tráfego            2000 non-null   object
 3   Visitas anteriores           2000 non-null   int64
 4   Taxa de conversão            2000 non-null   float64
 5   Duração da sessão (minutos)  2000 non-null   float64
 6   Tempo na página (minutos)    2000 non-null   float64
dtypes: float64(4), int64(2), object(1)
memory usage: 109.5+ KB

In [91]:
dados.to_excel("dados_tratados_website.xlsx", index=False)